
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}


/*********** Navbar ************/
header {
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  padding: 10px;
  z-index: 10000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}
header.sticky {
  background: rgb(249, 249, 250);
  padding: 10px 100px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05); 
} 
header .logo {
  color: #111;
  font-weight: 600;
  font-size: 2em;
  text-decoration: none;
}
header .sticky .logo {
  color: #fff;
}
header .logo span {
  color:darkblue;
}
header .navigation {
  position: relative;
  display: flex;
}
header .navigation li {
  list-style: none;
  margin-left: 20px;
}
header .navigation li a {
  text-decoration: none;
  color: rgb(5, 5, 5);
  font-weight: 500;
  font-size: 1.25rem;
  font-family: sans-serif;
}
header .sticky .naviagtion li a {
  color:rgb(3, 3, 3);
}
header .navigation li a:hover {
  color: rgb(20, 24, 250);
}
section {
  padding: 100px;
}


/***********INTRO************/
 .intro{
 	/* margin-left: 1rem;
 	margin-right: 1rem; */
   margin-top: 5rem;
 	background: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/job473-kwan-02-a_1_2.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=3f8d2513ecb86b053517c46cd376164e);
  background-size: 100%;
 	background-repeat: no-repeat;
  padding: 3rem;
 	display: block;
 	text-align: center;
 }

 #outer-line{
 	font-size: 2.5rem;
 	font-family: Verdana, sans-serif;
  font-display: fallback;
  text-shadow: 0.15rem 0.15rem 0.15rem gray;
}


#inner-line{
	font-size: 2rem;
	font-family: 'Courier New', monospace;
	font-weight: bold;
}

#health{
 	font-size: 1.75rem;
 	font-family: 'Times New Roman', serif;
 	margin-left: 7rem;
 	margin-right: 7rem;
  color: #39323b;
 }

 /******BREATHE********/
#breath{
  position: relative;
  font-family: degular,Helvetica,Roboto,Arial,sans-serif;
  font-size: 3.5em;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #121112, #911c7a, #b588ac);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 5s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

/*******TWO-COLUMNS******/
.happy{
  margin: 2rem;
}

.column1{
  float: left;
  width: 50%;
}

#happy_man{
  height: 20rem;
  width: 18rem;
  box-shadow: 1rem 1rem 1rem black;
}

#happy_man:hover{
  box-shadow: 1rem 1rem 1rem #5e435e;
  height: 25rem;
  width: 20rem;
}

.column2{
  float: left;
  width: 50%;
}

.column2 p{
  font-size: 2.5rem;
  width: 20rem;
  text-shadow: 0.15rem 0.15rem 0.15rem darkgrey;
}


.column2 h2{
    width: 25rem;
    font-family: 'Times New Roman', serif;
    font-weight: 300;


}

/* Clear floats after the columns */
.row:after {
  margin: 1rem;
  content: "";
  display: table;
  clear: both;
  background-color: black;
}

/***********WORKING**********/
.work-flow {
  width: 100%;
  margin-bottom: 5rem;
}

.work-flow h3:hover{
  text-shadow: 0.2rem 0.2rem 0.2rem #738c78;
}

#work-flow p{
  /* margin-top: 1rem; */
  font-size: 2rem;
  width: 60rem;

}

.container-work {
  margin-left: auto;
  margin-right: auto;
  width: 60rem;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
  background-color:#b4d4ba;
}

.flow-box {
  color: black;
  text-align: center;
}

.flow-img {
  height: 10rem;
  width: 12rem;
  border-radius: 50%;
  border: 1rem black;
  transition: width 1s;

}

.flow-img:hover {
  opacity: 0.9;
  border-radius: 15%;
  width: 15rem;
  box-shadow: 0.2rem 0.2rem 0.2rem black;
}


/*******FACTS-BLOCK*********/
/************Facts**************/
/* (A) FIXED WRAPPER */
.fact_wrap {
  overflow: hidden; /* HIDE SCROLL BAR */
  background: #eee;
}
 
/* (B) MOVING TICKER WRAPPER */
.fact_move { 
  display: flex;
  background-color: #bdb7c7;
 }

/* (C) ITEMS - INTO A LONG HORIZONTAL ROW */
.fact_item {
  flex-shrink: 0;
  width: 80%;
  box-sizing: border-box;
  padding: 1rem;
  font-size: 1.75rem;
  text-align: center;
  background-color: #bdb7c7;
}
 
/* (D) ANIMATION - MOVE ITEMS FROM RIGHT TO LEFT */
/* 4 ITEMS -400%, CHANGE THIS IF YOU ADD/REMOVE ITEMS */
@keyframes tickerh {
  0% { transform: translate3d(100%, 0, 0); }
  80% { transform: translate3d(-150%, 0, 0); }
}
.fact_move { animation: tickerh linear 15s infinite; }
.fact_move:hover { animation-play-state: paused; 
}
/********************************************/
.facts {
  height: 25rem;
  width: 80%;
  background: url(https://cupe.ca/sites/cupe/files/node_representative_image/canary-horz_copy.jpg);
}

#facts-btn {
  width: 35rem;
  padding: 1rem;
  background-color: #EED55D ;
  color: black;
  border-radius: 2px;
  border: none;
  font-family: 'Times New Roman', serif;
  font-size: 1.25rem;
}

#facts-btn:hover {
  background-color: #653E87 ;
  color: white;
  box-shadow: 0.75rem 0.75rem 0.75rem black;
}


/***********ALL-TESTS**********/
.all-test {
  width: 100%;
  margin: 0.5rem;
}

.all-test h3{
  font-family: 'Times New Roman', serif;
}
#all-test p{
  font-size: 1.5rem;
}

.container-test {
  padding: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 84%;
  display: grid;
  background-color:#98b1d9;
  grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
}

.test-box {
  color: black;
  text-align: center;
}

.test-img {
  height: 13rem;
  width: 13rem;
  border-radius: 10%;
  border: 1rem black;
}

.test-img:hover {
  opacity: 0.9;
  width: 14rem;
  border-radius: 5px ;
}

.all-test button {
  width: 13rem;
  padding: 1rem;
  background-color: #EED55D ;
  color: black;
  border-radius: 2px;
  border: none;
  font-size: 1.25rem;
  font-family: 'Times New Roman', serif;
  margin: 2rem;
}

.all-test button:hover {
  background-color: #653E87 ;
  color: white;
  box-shadow: 0.75rem 0.75rem 0.75rem black;
}

/**********BACK-TO-TOP*************/
.b_top a{
  color: black;
  font-size: 1.5rem;
}

.b_top{
  /* margin-bottom: 1rem; */
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

/*footer*/
.footer-container{
  margin-right: 4rem;
  margin-left: 4rem;
}

.row{
  display: flex;
  margin-left: 4rem;
  margin-right: 4rem;
}

ul{
  list-style: none;
}

.footer{
  background-color: #587375;
  color: white;
  padding: 3rem 0;
  font-size: 0.25rem;
}

.footer-col{
   width: 25%;
   margin-left: 2rem;
}

.footer-col h4{
  font-size: 1rem;
  color: #521a39;
  text-transform: capitalize;
  margin-bottom: 3.5rem;
  font-weight: 500;
  position: relative;
}

h4{
  margin-left: 2.5rem;
  text-align: left;
}

.footer-col h4::before{
  content: '';
  position: absolute;
  left:0;
  bottom: -2rem;
  background-color: #fce354;
  height: .5rem;
  box-sizing: border-box;
  width: 5rem;
}

.footer-col ul li:not(:last-child){
  margin-bottom: 1rem;
}

.footer-col ul li a{
  font-size: 1rem;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: white;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover{
  color: #aca9e0;
  padding-left: .8rem;
}
.social-links {
  text-align: center;
}
.social-links .fa{
  height: 35px;
  width: 35px;
  font-size: 20px;
  line-height: 25px;
  color: rgb(223, 223, 233);
  cursor: pointer;
  transition: 0.5s;
}
.social-links .fa:hover {
  background: #f7d5d5;
  color: #fff;
  border-radius: 50%;
  transform: translateY(-7px);
}
.social-links p {
  font-size: 12px;
  margin-top: 20px;
}

.footer-col {
  margin-right: 2rem;
}

/********RESPONSIVE CODE***********/
@media(max-width:998px) {
     html {
     font-size: 55%;
  }
}

@media(max-width:768px) {
     html {
     font-size: 45%;
  }
}

@media(max-width:998px) {
     initiative {
      margin-left: 10rem;
      margin-right: 10rem;
     font-size: 55%;
  }
}

@media(max-width:768px) {
     initiative {
      margin-left: 10rem;
      margin-right: 10rem;
     font-size: 45%;
  }
}
